.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 500ms;
}
.getaccess {
  font-size: 10rem;
  transition: 500ms;
}
.dark {
  background-color: rgb(14, 14, 14);
}
.textWhite {
  color: white;
}
