.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/background.svg");
  background-size: 100vw 100vh;
  background-size: cover;
}
.instant {
  color: #ffffff;
  font-style: normal;
  width: 25vw;
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  line-height: 58px;
}
.all {
  font-style: normal;
  width: 18vw;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #ffffff;
  margin-top: 5%;
}
.buttons {
  display: flex;
  margin-top: 10%;
}
.email {
  width: 15vw;
  height: 6vh;
  font-size: 18px;
  padding-left: 10px;
}
.get {
  width: 8vw;
  height: 6vh;
  margin-left: 2%;
  border-radius: 5px;
  background-color: #0bbef2;
  color: #ffffff;
  font-size: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zai {
  display: flex;
  width: 100vw;
  height: 30vh;
  background-color: white;
}
.zaii {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: white;
}
.bottombutton {
  width: 100%;
  background-color: #252b3b;
  padding: 48px 0px;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.container1 {
  width: 20vw;
  height: 32vh;
  margin: 5%;
  line-height: 70px;
  box-shadow: 0px 0px 30px -9px rgba(0, 0, 0, 0.75);
}

.stars {
  margin-left: 7%;
}

.star0 {
  color: orange;
}

.star1 {
  color: orange;
}

.textt {
  font-style: normal;
  font-weight: 450;
  font-size: 100%;
  width: 15vw;
  height: 10vh;
  margin-left: 8%;
  line-height: 30px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.bruhh {
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-left: 7%;
}

.name {
  font-size: 100%;
  font-weight: 700;
  margin-left: 5%;
}
.what {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
}
.dark {
  background-color: black;
  transition: 500;
}
.textWhite {
  color: white;
}
.textDefault {
  color: black;
}
.containerBottom {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.sectionTwo {
  transition: 500;
}
