.container {
  position: fixed;
  width: 100vw;
  height: 65px;
  z-index: 100;
}
.container2 {
  display: flex;
  margin-left: 385px;
  height: 65px;
  background-color: #1f1f1f;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  width: 100vw;
  height: 65px;
  /* background-color: rgb(5, 5, 5); */
}
.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: rgb(134, 134, 134);
  background-color: rgba(0, 0, 0, 0.7);
}
.icon2 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: rgb(134, 134, 134);
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 15px;
}
.buser {
  display: flex;
}
.upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 90px;
  height: 32px;
  border: 0.5px solid rgb(211, 211, 211);
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 32px;
}
.upgrade:hover {
  background-color: black;
  font-size: 14.2px;
}
.user {
  display: flex;
  align-items: center;
  width: 150px;
  height: 32px;
  background-color: black;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.icon3 {
  width: 27px;
  height: 27px;
  border-radius: 50px;
  padding: 2px;
  background-color: rgb(116, 116, 116);
  margin-left: 2px;
  margin-right: 8px;
}
.arrow {
  width: 20px;
  height: 20px;
  margin-left: 7px;
}
