.container {
    width: 100vw;
    height: 100vh;
    background-color: #171717;
  }
  .container2 {
    display: flex;
    margin-left: 385px;
    height: 250vh;
    background-color: #121212;
  }
  .container3 {
    width: 100vw;
    height: 100vh;
  }
  .searchbutton {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 65px;
  }
  .search {
    height: 6vh;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 6vh;
  }
  .row {
    padding-left: 30px;
    padding-top: 15px;
  }
  .song {
    display: grid;
    transition: 300ms;
    width: 209.5px;
    height: 302px;
    background-color: #181818;
    border-radius: 10px;
    margin-right: 22px;
    margin-bottom: 22px;
    padding: 15px;
  }
  .image {
    border-radius: 5px;
    width: 182px;
    height: 182px;
  }
  .artist {
    border-radius: 50%;
    width: 182px;
    height: 182px;
  }
  .exp {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: var(
      --font-family,
      CircularSp,
      CircularSp-Arab,
      CircularSp-Hebr,
      CircularSp-Cyrl,
      CircularSp-Grek,
      CircularSp-Deva,
      var(--fallback-fonts, sans-serif)
    );
    color: white;
  }
  .song:hover {
    background-color: rgb(46, 46, 46);
  }
  .song:hover .play {
    opacity: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ed760;
  }
  .play {
    transition: 300ms;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 50px;
    height: 50px;
    margin-top: -80px;
    margin-left: 120px;
    border-radius: 50%;
  }
  .icon {
    margin-left: 3px;
    width: 18px;
    height: 18px;
  }
  